<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAMzW7rJJxXnp1Z_8zwTYi5oX_3GveiPCM</string>
	<key>GCM_SENDER_ID</key>
	<string>434760967247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chitchat</string>
	<key>PROJECT_ID</key>
	<string>chatapp-6baa4</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-6baa4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:434760967247:ios:774eb996f2c7606955f63a</string>
</dict>
</plist>